src/main/mule/rtf-core-calculator-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	
	
	<flow name="rtf-core-calculator-api-main">
        <http:listener config-ref="rtf-core-calculator-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rtf-core-calculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Bad Request",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="8d917b34-32bc-4a05-9402-accce8a12faa" message="#[payload]"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="4083c414-d30f-4aff-8f88-91429a333633" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Resource not found",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="41f73da9-f141-4762-8820-bcf7d4540da6" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message" doc:id="b1a9cc88-5d5f-4377-be29-45e552a579ad" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Method not allowed",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="facf7c7a-0acc-4186-a714-b87125323344" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message" doc:id="e2e46fa3-731c-49cd-bb36-abf5af26981d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Not acceptable",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="a8721452-6205-4a6a-908e-1d772677d185" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message" doc:id="9831e5e2-81fd-42aa-8715-2c150f5fdff0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Unsupported media type",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="b289cd99-505c-4861-b722-d97942fff6e6" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message" doc:id="b3faa0e2-4704-4fee-be03-47a19df32725" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Not Implemented",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="b8f1049a-c327-4d4b-82f8-af136ec11329" message="#[payload]" />
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c8fadf9f-200f-46b9-9c1d-8a7daa5a1d2c" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="d65c4dc4-1fe7-42bf-9d4e-e76371d01e15" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Unknown Error",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log Error" doc:id="163b0199-1e6a-4f52-86a3-e14b32e5820f" message='#[payload]' />
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="rtf-core-calculator-api-console">
        <http:listener config-ref="rtf-core-calculator-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="rtf-core-calculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	
    <flow name="post:\cores\calculate:application\json:rtf-core-calculator-api-config">
		<flow-ref doc:name="Call calculateCores" doc:id="df83ddf8-8921-4642-a22c-923b257dc1e9" name="calculate-cores" />
    </flow>
</mule>
