src/main/mule/rtf-core-calculator-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<flow name="rtf-core-calculator-api-main">
        <http:listener config-ref="rtf-core-calculator-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rtf-core-calculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Bad Request",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="8d917b34-32bc-4a05-9402-accce8a12faa" message="#[payload]"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="4083c414-d30f-4aff-8f88-91429a333633" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Resource not found",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="41f73da9-f141-4762-8820-bcf7d4540da6" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message" doc:id="b1a9cc88-5d5f-4377-be29-45e552a579ad" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Method not allowed",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="facf7c7a-0acc-4186-a714-b87125323344" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message" doc:id="e2e46fa3-731c-49cd-bb36-abf5af26981d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Not acceptable",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="a8721452-6205-4a6a-908e-1d772677d185" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message" doc:id="9831e5e2-81fd-42aa-8715-2c150f5fdff0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Unsupported media type",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="b289cd99-505c-4861-b722-d97942fff6e6" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message" doc:id="b3faa0e2-4704-4fee-be03-47a19df32725" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Not Implemented",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception.verboseMessage
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="b8f1049a-c327-4d4b-82f8-af136ec11329" message="#[payload]" />
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c8fadf9f-200f-46b9-9c1d-8a7daa5a1d2c" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="d65c4dc4-1fe7-42bf-9d4e-e76371d01e15" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorDetails": {
    "message": "Unknown Error",
    "shortDescription": error.description,
    "description": error.detailedDescription,
    "additionalInfo": error.exception
  },
  "timestamp": now() as DateTime,
  "apiName": "rtf-core-calculator-api-impl",
  "success": false,
  "correlationId": correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log Error" doc:id="163b0199-1e6a-4f52-86a3-e14b32e5820f" message='#[payload]' />
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="rtf-core-calculator-api-console">
        <http:listener config-ref="rtf-core-calculator-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="rtf-core-calculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\cores\calculate:application\json:rtf-core-calculator-api-config">
		<logger level="INFO" doc:name="Log Start" doc:id="5699ab1c-f4d0-4224-8466-a0302a379985" message="Request Received"/>
		<flow-ref doc:name="save-variables" doc:id="052cf597-d709-4ecd-8f57-3555b69bf934" name="save-variables" />
		<flow-ref doc:name="receive-and-authorize-sub-flow" doc:id="f5311621-62dd-41cd-869b-beef253072e9" name="receive-and-authorize"/>
		<ee:transform doc:name="Save Access Token" doc:id="f30a419f-49a0-4e0e-b1bc-cd61939d00f0">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="accessToken"><![CDATA[%dw 2.0
output application/java
---
"Bearer " ++ vars.tokenValue.access_token]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-business-group-info" doc:id="ce215850-913c-4263-ae3c-f451a572e8aa" name="get-business-group-info" />
		<logger level="INFO" doc:name="Log Start Processing Business Groups" doc:id="673e9711-c484-4ba6-a223-0a451986d2e2" message='vars.retrievedOrgs :: #[write(vars.retrievedOrgs,"application/json") replace "\n" with "\n"]'/>
		<foreach doc:name="For Each Business Group" doc:id="b02ace3a-da45-444a-ad5e-7ab9dad3a802" collection="#[vars.retrievedOrgs.orgIds]">
			<set-variable value="#[payload]" doc:name="Save Business Group ID" doc:id="6a221216-30d1-4954-9a54-47b26172b52a" variableName="bgId"/>
			<logger level="INFO" doc:name="Log Start Processing Business Group" doc:id="131e769a-043f-4c5e-a0fc-9d92feb28c11" message='#["Processing Business Group: " ++ vars.bgId]'/>
			<try doc:name="Try" doc:id="347d3d22-5fc2-4c99-8181-313ef1e62e3b" >
				<flow-ref doc:name="extract-environments-for-bg" doc:id="c164ba80-76ca-4f5a-9367-ec356c251cd9" name="extract-environments-for-bg" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4588de20-4e43-4768-8a07-99c97805f242" >
						<ee:transform doc:name="Add to Error List" doc:id="a7e8dd52-f3e1-4190-a022-19e8f499374c" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="errorList" ><![CDATA[%dw 2.0
output application/java
---
vars.errorList + {
	bgId: vars.bgId,
	error: error.description
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<set-variable value="#[[]]" doc:name="extractedEnvs" doc:id="5cef9d54-dcdf-4079-ad0e-5c6a13f36ea2" variableName="extractedEnvs"/>
					</on-error-continue>
				</error-handler>
			</try>
			<foreach doc:name="For Each Environment" doc:id="bdee7570-39fe-4da9-9b0c-640ad262bfea" collection="#[vars.extractedEnvs]">
				<set-variable value="#[payload]" doc:name="Set Environment Info" doc:id="4c8c61c8-c620-4fd1-9f60-66303f005d6e" variableName="envInfo"/>
				<try doc:name="Try" doc:id="9b84d956-1d63-4ab9-97ba-e0df6c2cadd8" >
					<flow-ref doc:name="list-deployed-apis" doc:id="5a0788e7-c6c3-4fd4-a525-b4ed791dbe29" name="list-deployed-apis" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a5091565-0a75-4f78-b04e-22b46e4c9031" >
							<ee:transform doc:name="Add to Error List" doc:id="16d905ba-b6e8-405b-b017-8b84b2263e11" >
								<ee:message />
								<ee:variables >
									<ee:set-variable variableName="errorList" ><![CDATA[%dw 2.0
output application/java
---
vars.errorList + {
	bgId: vars.bgId,
	error: error.description
}]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<set-variable value="#[[]]" doc:name="filteredApps" doc:id="6809fd31-a6e2-45ea-9fe6-7e1af38c9a3f" variableName="filteredApps" />
						</on-error-continue>
					</error-handler>
				</try>
				<set-variable value="#[0]" doc:name="Init Total CPU Reserved" doc:id="e0d6f840-084c-4d05-8840-e01bfed38dbd" variableName="totalCPUReserved" mimeType="application/java"/>
				<set-variable value="#[0]" doc:name="Init Total CPU Limit" doc:id="75844b65-21e2-48b6-a842-c6f637368521" variableName="totalCPULimit" mimeType="application/java"/>
				<foreach doc:name="For Each Extracted Application" doc:id="977d35bc-6e67-42e5-9ced-3937804ab461" collection="#[vars.filteredApps]" >
					<set-variable value="#[payload]" doc:name="Current App" doc:id="2543df6f-a360-4646-a47c-94b973742363" variableName="currApp"/>
					<flow-ref doc:name="list-details-for-deployment" doc:id="dd043498-44b4-4b4a-891c-17ead04d3b08" name="list-details-for-deployment" />
					<set-variable value="#[(vars.totalCPUReserved as Number) + (vars.appDetail.cpuReserved default 0 as Number)]" doc:name="Count Total CPU Reserved" doc:id="4d796c8a-4a4c-4da7-8c90-671cab824f0a" variableName="totalCPUReserved"/>
					<set-variable value="#[(vars.totalCPULimit as Number) + (vars.appDetail.cpuLimit default 0 as Number)]" doc:name="Count Total CPU Limit" doc:id="4b991ba9-1445-47f7-87e6-065a05ee3395" variableName="totalCPULimit"/>
					<scripting:execute engine="groovy" doc:name="Add to Count List" doc:id="1cdbf6fb-30ac-4de4-a168-3b848acf614f" >
						<scripting:code >vars.countList.add(vars.appDetail)</scripting:code>
					</scripting:execute>
					<set-variable value="#[(vars.appDetail.cpuReserved default 0 as Number) + (vars.globalCPUReserved as Number)]" doc:name="Global Increment CPU Reserved" doc:id="93c8eca1-784c-4d2c-aafc-3b83eb2645a0" variableName="globalCPUReserved" />
					<set-variable value="#[(vars.appDetail.cpuLimit default 0 as Number) + (vars.globalCPULimit as Number)]" doc:name="Global Increment CPU Limit" doc:id="b8e0c8ea-3b45-4978-91be-319a11e3fea0" variableName="globalCPULimit" />
				</foreach>
				<choice doc:name="Choice" doc:id="c6dd8324-92e9-42ca-8b05-820d83e911cd" >
					<when expression="#[vars.inputData.includeCloudHub]">
						<try doc:name="Try" doc:id="6a764f5b-7ff0-4476-abd1-1ab0b6be25f8" >
							<http:request method="GET" doc:name="Get CH App Info" doc:id="68b35f8b-b518-4734-9d67-853a548a7a58" config-ref="HTTP_Request_configuration" path="/cloudhub/api/v2/applications" target="chAppDetails">
					<http:headers><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : vars.envInfo.id,
	"Authorization" : vars.accessToken,
	"X-ANYPNT-ORG-ID" : vars.bgId
}]]]></http:headers>
				</http:request>
							<error-handler >
								<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3deef4a1-24a6-49df-ad3a-6080c7facd94" >
									<ee:transform doc:name="Transform Message" doc:id="6fe3342e-2bcf-4ff5-9ceb-7292e3373e37" >
										<ee:message >
										</ee:message>
										<ee:variables >
											<ee:set-variable variableName="errorList" ><![CDATA[%dw 2.0
output application/java
---
vars.errorList + {
	bgId: vars.bgId,
	error: error.description
}]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
									<set-variable value="#[[]]" doc:name="chAppDetails" doc:id="246ba13c-aa79-432f-90ee-2577ed024d26" variableName="chAppDetails"/>
								</on-error-continue>
							</error-handler>
						</try>
					</when>
					<otherwise >
						<set-variable value="#[[]]" doc:name="chAppDetails" doc:id="a4815fa5-2e2b-42c5-8c8f-57f6187f6f24" variableName="chAppDetails"/>
					</otherwise>
				</choice>
				<ee:transform doc:name="Aggregated Data" doc:id="902d18d7-7543-42bd-aef0-c5578011204a" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="aggregatedDataEnv" ><![CDATA[%dw 2.0
output application/java
var filterCHApps = if (sizeOf(vars.chAppDetails) > 0)
  (vars.chAppDetails filter ($.status == 'STARTED') map ((item, index) -> {
    "applicationName": item.domain,
    "cpu": (item.workers.'type'.weight) * (item.workers.amount) as Number
  }))
else
  []
---
{
	"Environment": vars.envInfo.envName,
	"RTF Total CPU Reserved": if ( sizeOf(vars.filteredApps) > 0 ) vars.totalCPUReserved else 0,
	"RTF Total CPU Limit": if ( sizeOf(vars.filteredApps) > 0 ) vars.totalCPULimit else 0,
	"CH Total vCores": if(sizeOf(filterCHApps) > 0 and filterCHApps.'cpu' != null)sum(filterCHApps.'cpu') else 0,
	"RTF Application Details": if ( sizeOf(vars.filteredApps) > 0 ) vars.countList else [],
	"CH Application Details": filterCHApps
}
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value='#[vars.globalCHCPUTotal + vars.aggregatedDataEnv."CH Total vCores"]' doc:name="globalCHCPUTotal" doc:id="9dbd1c7f-b38d-43ca-b6c3-8b7f429ec243" variableName="globalCHCPUTotal"/>
				<scripting:execute doc:name="Add to Environment List" doc:id="95401a13-9c2c-484f-ae6e-9c9d9c56c266" engine="groovy">
					<scripting:code>vars.envList.add(vars.aggregatedDataEnv)</scripting:code>
				</scripting:execute>
				<set-variable value="#[[]]" doc:name="clear countList" doc:id="8f771f71-c81c-4408-b1c4-952179aa2262" variableName="countList"/>
				<set-variable value="#[[]]" doc:name="clear aggregatedDataEnv" doc:id="3bbd39f0-d753-4e83-9522-316cfb74a24f" variableName="aggregatedDataEnv"/>
			</foreach>
			<try doc:name="Try" doc:id="b11a3128-6e22-49f9-9c13-6031d5bb8f89" >
				<ee:transform doc:name="Transform Message" doc:id="a0ae6567-7637-4392-9e56-26e26bb76db9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
{ "user" : 1 } wait 5000]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="Get List of Existing Sub Orgs for the Root Org" doc:id="f3be5720-2c20-48ed-8a01-4ff204fdb39b" config-ref="HTTP_Request_configuration" path="/accounts/api/organizations/{rootOrgID}/hierarchy" target="bgName" targetValue="#[write(payload.name, 'application/java')]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.accessToken
}]]]></http:headers>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"rootOrgID" : vars.bgId
}]]]></http:uri-params>
			</http:request>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="48a35d99-a968-47a1-9061-de8ac3a7eb45" >
						<ee:transform doc:name="Add to Error List" doc:id="de17571e-7c97-416b-902a-ed4787069062" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="errorList" ><![CDATA[%dw 2.0
output application/java
---
vars.errorList + {
	bgId: vars.bgId,
	error: error.description
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<set-variable value='#[""]' doc:name="bgName" doc:id="60eea011-0cd1-419a-8fdd-ebeda6b4a7d2" variableName="bgName" />
					</on-error-continue>
				</error-handler>
			</try>
			<choice doc:name="Check Response Type" doc:id="23a784c6-1310-40e1-95e9-e9f3648a44db" >
				<when expression='#[vars.inputData.responseType == "json"]'>
					<ee:transform doc:name="Add BG Details to EnvList" doc:id="1fa8097b-b33e-43ca-aecc-d66bf0ebcf43">
						<ee:message>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="envList" ><![CDATA[%dw 2.0
output application/java  
---

vars.envList map ((item, index) -> ({"Business Group": vars.bgName} ++ item ))]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<scripting:execute doc:name="Add to Organization Map" doc:id="a42f47b1-5c8d-4bf9-96bd-792492d9bf75" engine="groovy">
				<scripting:code>vars.orgMap.put(vars.bgName, vars.envList)</scripting:code>
			</scripting:execute>
				</when>
				<otherwise >
					<ee:transform doc:name="Aggregated Data" doc:id="3cea0e98-ae33-40bc-8a01-37fb0f6e3b1e" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="aggregatedOrgData" ><![CDATA[%dw 2.0
output application/java
---
{
	"Organization": vars.bgName,
	"Environments": vars.envList
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<scripting:execute doc:name="Add to Organization List" doc:id="25526800-a3bd-44ef-90c9-6cec20cde4e9" engine="groovy">
						<scripting:code >vars.orgList.add(vars.aggregatedOrgData)</scripting:code>
					</scripting:execute>
				</otherwise>
			</choice>
			<set-variable value="#[[]]" doc:name="Clear Count List" doc:id="0159ecb4-9f3c-4efe-b593-1bfc72a262b0" variableName="countList"/>
			<set-variable value="#[[]]" doc:name="Clear Environment List" doc:id="501534fc-fddb-482a-adf7-c00ccf7c4e52" variableName="envList" />
		</foreach>
		<logger level="INFO" doc:name="Log End Processing Business Groups" doc:id="1a9df4a9-a371-4954-8592-c8a2dceb2981" message='#["Processed Business Group: " ++ vars.bgId]' />
		<ee:transform doc:name="Create JSON Response" doc:id="375df877-d337-4533-b69c-a97892a8503e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Global Total RTF CPU Reserved": vars.globalCPUReserved,
	"Global Total RTF CPU Limit": vars.globalCPULimit,
	"Global Total CloudHub CPU": vars.globalCHCPUTotal,
	"Details": vars.orgMap,
	"Errors": vars.errorList
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="9c7bd17f-a30c-413c-ac0a-884b83f2f8f3" >
			<when expression="#[vars.inputData.filterEmptyOrg]">
				<ee:transform doc:name="Filter CPU Reserved = 0" doc:id="51ab6364-41d9-46e4-8741-f29199ad00cb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "Global Total RTF CPU Reserved": payload."Global Total RTF CPU Reserved",
  "Global Total RTF CPU Limit": payload."Global Total RTF CPU Limit",
  "Global Total CloudHub CPU": payload."Global Total CloudHub CPU",
  "Details": (payload.Details mapObject ((value, key, index) -> {
    (key): value filter ($."RTF Total CPU Reserved" > 0 or sizeOf($."CH Application Details") > 0)
  })),
  	"Errors": vars.errorList
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Remove empty Orgs" doc:id="9ce762f6-ec88-47f5-ac1f-38cb103e7d57" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun treeFilter(value: Any, predicate: (value:Any) -> Boolean) =
    value  match {
            case object is Object ->  do {
               object mapObject ((value, key, index) -> 
                    (key): treeFilter(value, predicate)
                )
                filterObject ((value, key, index) -> predicate(value))
            }
            case array is Array -> do {
                    array map ((item, index) -> treeFilter(item, predicate))
                                         filter ((item, index) -> predicate(item))                 
            }
            else -> $
    }

---
payload treeFilter ((value) -> 
    value match {
        case v is Array| Object | Null | "" -> !isEmpty(v)
        else -> true
    }
)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Add BG Usage" doc:id="ae40ea57-6c1a-431e-b20f-4e8ad39ad750" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
    "Global Total RTF CPU Reserved": payload."Global Total RTF CPU Reserved",
    "Global Total RTF CPU Limit": payload."Global Total RTF CPU Limit",
    "Global Total CloudHub vCores": payload."Global Total CloudHub CPU",
    "Details": (payload.Details mapObject ((value, key, index) -> 
    {
        (key): {
            "BG RTF Total CPU Reserved": sum(value."RTF Total CPU Reserved"),
            "BG RTF Total CPU Limit": sum(value."RTF Total CPU Limit"),
            "BG CH Total vCores": sum(value."CH Total vCores"),
            "Details": value
        }
    })),
    "Errors": payload.Errors
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="48124fe4-0418-48a9-b6e0-0902457ec03a" message="Filter Empty Org query Parameter  value is :: #[vars.inputData.filterEmptyOrg]"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="133c1dd2-9177-4741-a30d-0ced0e95519c" >
			<when expression="#[vars.inputData.consolidatedReport]">
				<ee:transform doc:name="Create Consolidated Report" doc:id="0ee58f4e-93b8-4ace-9ac6-f5613d66edb1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv  
---
 flatten(payload.Details..Details) map ((item, index) -> 
 {
    "Tenant Type": "Env",
    "Name": item.Environment,
    "Business Group": item."Business Group",
    "RTF CPU Reserved": item."RTF Total CPU Reserved",
    "RTF CPU Limit": item."RTF Total CPU Limit",
    "CloudHub vCores": item."CH Total vCores"
 }) ++ flatten(
  payload.Details pluck ((value, key, index) -> {
    "Tenant Type": "BG",
    "Name": (key),
    "Business Group": "",
    "RTF CPU Reserved": value."BG RTF Total CPU Reserved",
    "RTF CPU Limit": value."BG RTF Total CPU Limit",
    "CloudHub vCores": value."BG CH Total vCores"
  })
) +
  {
    "Tenant Type": "Global",
    "Name": "<<yourOrgNameHere>>",
    "Business Group": "",
    "RTF CPU Reserved": payload."Global Total RTF CPU Reserved",
    "RTF CPU Limit": payload."Global Total RTF CPU Limit",
    "CloudHub vCores": payload."Global Total CloudHub vCores"
  }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="810ac684-7c9b-4212-8326-b4423aee2396" message="Consolidated Report value is :: #[vars.inputData.consolidatedReport]"/>
			</otherwise>
		</choice>
		<set-variable value="#[200]" doc:name="httpStatus" doc:id="1345a52d-d8d1-4d5f-ac7a-e112cb3d59c8" variableName="httpStatus"/>
		<logger level="INFO" doc:name="Log End" doc:id="bf64595e-a86e-4c31-a65a-099d47937b16" message="Request Completed"/>
    </flow>
</mule>
